<div class="contact-wrapper">

  <div class="contact-form-wrapper">
    <div class="brand-form-wrapper">
      <div class="brand-container">
        <%= simple_form_for @contact do |f| %>
        <%= f.input :name, label: "Nombre:", required: true, error: 'Por favor escribe tu nombre' %>
        <%= f.input :email, label: "Email:", required: true, error: 'Por favor escribe tu email' %>
        <%= f.input :description, as: :text, label: "Mensaje:", required: true, error: 'Por favor escribenos un mensaje' %>
        <%= f.submit "Contáctanos", class: "btn-bond-card" %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="contact-content-wrapper">
    <h1 class="text-center">¿Quieres saber más?</h1>
    <p>Escríbenos un mensaje y nos pondremos en contacto lo antes posible.</p>
  </div>

</div>
